/* Estilos del Navbar */
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    position: sticky;
    top: 0px;
}

/* Estilos del Footer */


footer div ul li {
    display: inline-block;
}

footer div :nth-child(1) {
    text-align: center;
}

footer ul li a svg {
    margin: 0 16px;
}